.center{
	text-align: center;
}
.album{
	padding: 10px;
	box-sizing: border-box;
}
.margin-bot{
	margin-bottom: 10px;
}
.agenda{
	padding: 10px 20px;
	box-sizing:border-box;
	width: 100%;
	height: 300px;
}
.sub-agenda{
	border: 1px solid grey;
	padding:10px;
}